body {
    background-color: seagreen;
}
h2, h3 {
    position: relative; 
    margin: 10px;
    margin-top: 0px;
    height: fit-content;
    width: 25%;
    border-width: 1px; border-color: black; border-style: double;
    border-radius: 10px;
    padding: 10px;
    background-color:cadetblue;
}
menu {
    margin-top: 5px;
}

.drawButton{
    margin: 5px;
}

.coordinates{
    padding: 1px;
    margin: 1px;
}

.borderedDiv{
    position: relative; 
    margin: 10px;
    margin-top: 0px;
    height: fit-content;
    border-width: 1px; border-color: black; border-style: double;
    border-radius: 10px;
    padding: 10px;
    background-color: antiquewhite;
}

.colorPicker{
    visibility: collapse;
    
}
