body {
    display:flex;
}
.lifeCanvas{
     /* width: 500px;
    height: 500px;  */
    border-radius: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    
}
.numberDiv{
    border-radius: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 20%;
}
.numberDiv > * {
    margin: 0%;
}